[Unit]
Description=PiPlayer
After=network.target

[Service]
WorkingDirectory=/opt/piplayer
ExecStart=/opt/piplayer/PiPlayer --urls "http://*:6888"
Restart=always
SyslogIdentifier=PiPlayer
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target